<section class="hero  text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-4 mb-4">Un projet démo pour vous présenter l'utilisation de l'API <span
            class="galsen">GalsenApi</span></h1>
        <p class="lead mb-4">GalsenApi est une API qui vous permet de manipuler facilement des données sur le Sénégal.
          Ce projet s'inspire du package <a href="https://www.npmjs.com/package/galsenify">Galsenify</a></p>
        <a href="https://github.com/sibylassana95/GalsenAPi" class="btn btn-light btn-lg">Github</a>
      </div>
    </div>
  </div>
</section>