.hero {
  background-size: cover;
  background-position: center;
  color: black;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.btn {
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
}

.galsen {
  color: blue;
}
